	<div class="row">
	<div class="col-xs-3">
		<img class="img-circle" src="../images/dog.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="../images/elk.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="../images/truck.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="../images/whale.png">
	</div>
	</div>
	<div class="row">
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(1995, "dog")}}</p>
	</div>
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(1995, "elk")}}</p>
	</div>
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(1995, "truck")}}</p>
	</div>
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(1995, "whale")}}</p>
	</div>
	</div>
<div class="description">
	In 1995, the total greenhouse gas emissions  was <b>{{getTotal(1995, null)}}</b> kilotons (citation).  Using estimates of common Prairie things, we find this is the equivalent to <b>~{{getTotal(1995, "dog")}}</b> prairie dogs, <b>~{{getTotal(1995, "elk")}}</b> western moose, <b>~{{getTotal(1995, "truck")}}</b> 2016 Ford F150 4x4 trucks, or <b>~{{getTotal(1995, "whale")}}</b> 30ft blue whales.
</div>