	<div class="row">
	<div class="col-xs-3">
		<img class="img-circle" src="../images/dog.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="../images/elk.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="../images/truck.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="../images/grain.png">
	</div>
	</div>
	<div class="row">
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(2005, "dog")}}</p>
	</div>
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(2005, "elk")}}</p>
	</div>
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(2005, "truck")}}</p>
	</div>
	<div class="col-xs-3">
	<p class="text-center sub-circle">{{getTotal(2005, "whale")}}</p>
	</div>
	</div>
<div class="description">
	In 2005, the total greenhouse gas emissions  was <b>{{getTotal(2005, null)}}</b> kilotons (citation).  Using estimates of common Prairie things, we find this is the equivalent to <b>~{{getTotal(2005, "dog")}}</b> prairie dogs, <b>~{{getTotal(2005, "elk")}}</b> western moose, <b>~{{getTotal(2005, "truck")}}</b> 2016 Ford F150 4x4 trucks, or <b>~{{getTotal(2005, "whale")}}</b>  the total storage capacity of ITAC Inland Terminals.
</div>
<div class="row">
	<div class="col-xs-6 text-center">
		<img src="../images/map4.png" width="138" height="282"/>
	</div>
	<div class="col-xs-6 text-center" >
		<img src="../images/legend01.png" width="184" height="158" />
	</div>
</div>