	<div class="row">
	<div class="col-xs-3">
		<img class="img-circle" src="images/dog.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="images/elk.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="images/truck.png">
	</div>
	<div class="col-xs-3">
		<img class="img-circle" src="images/whale.png">
	</div>
	</div>
	<div class="row">
	<div class="col-xs-3">
	<p class="text-center sub-circle">123455</p>
	</div>
	<div class="col-xs-3 sub-circle">
	<p class="text-center">123455</p>
	</div>
	<div class="col-xs-3 sub-circle">
	<p class="text-center">123455</p>
	</div>
	<div class="col-xs-3 sub-circle">
	<p class="text-center">123455</p>
	</div>
	</div>
<div class="description">
	In {year}, the {total greenhouse gas emissions || greenhouse gas emissions in the sector of {field}} was {actual value} kilotons (citation).  Using estimates of common Prairie things, we find this is the equivalent to {calc} prairie dogs, {calc} western moose, {calc} 2016 Ford F150 4x4 trucks, or {calc}  the total storage capacity of ITAC Inland Terminals.
</div>