<div class="row marketing">
  <h4>Lorem Ipus</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum pulvinar cursus. Curabitur finibus rutrum varius. Etiam vitae elit euismod, cursus dolor et, euismod felis. Nunc mi quam, cursus ut tortor eget, posuere fermentum lacus. Praesent tellus quam, aliquam ut vestibulum sed, finibus sed massa. Etiam at magna vel erat volutpat vulputate. Vivamus at lorem mollis, hendrerit erat in, tristique risus. Curabitur accumsan purus tortor, eu bibendum felis convallis sit amet. 
  </p>

  <h4>Lorem Ipus</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum pulvinar cursus. Curabitur finibus rutrum varius. Etiam vitae elit euismod, cursus dolor et, euismod felis. Nunc mi quam, cursus ut tortor eget, posuere fermentum lacus. Praesent tellus quam, aliquam ut vestibulum sed, finibus sed massa. Etiam at magna vel erat volutpat vulputate. Vivamus at lorem mollis, hendrerit erat in, tristique risus. Curabitur accumsan purus tortor, eu bibendum felis convallis sit amet. 
  </p>

</div>